.container {
    margin: 2rem 10rem;
    overflow-x: hidden;
    height: 90%;
}

.back-btn {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: none;
    border-radius: 50%;
    width: 40px;
    background: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.back-btn:hover {
    transform: scale(1.1);
}

.btn-img {
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.template {
    height: 40vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
}

.home {
    color: #fff;
    background: #000;
    border-radius: 5px;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
}

.flight-details {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
}

.origin-destiny {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.title {
    font-size: 13px;
    font-weight: 300;
}

.main-title {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #28afc1;
}

.text {
    font-size: 18px;
    font-weight: 600;
}

.second-title {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #75d4e1;
}

.third-title {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

small {
    margin-top: 2px;
    color: #494949;
    font-size: 12px;
    font-weight: 200;
}

.flights {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 1rem;
}

.flights-info .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flights-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 2px;
}

.price {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2px;
}

.total {
    font-weight: 600;
}