<section>

    <div>
        <h2> Life Is Short And The World Is Wide 🌎</h2>

        <p>
            to get the best of your adventure you just need to leave and <br> go where you like. We are waiting for you!
        </p>
    </div>

    <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">

        <div class="sub-input">
            <div>
                <button class="one-way"> One-way ➡️</button>
            </div>

            <small>
                Book International and Domestic Flights
            </small>
        </div>

        <div class="flight-container">
            <div class="input-section">
                <!-- error for amount of letters -->
                <div *ngIf="flightForm.get('origin')?.invalid && flightForm.get('origin')?.touched">
                    <span class="invalid-text">Please enter exactly 3 letters!</span>
                </div>
                <!-- errors for same letters-->
                <div *ngIf="flightForm.hasError('originDestinationSame')">
                    <span class="invalid-text">Origin and destination can't be the same!</span>
                </div>
                <div class="flight-box" [ngClass]="{'invalid-input': flightForm.get('origin')?.invalid && flightForm.get('origin')?.touched || flightForm.hasError('originDestinationSame')}">
                    <label>From</label>
                    <input formControlName="origin" placeholder="MZL" appUppercase>
                </div>
            </div>

            <div class="input-section">
                <!-- error for 3 letters -->
                <div *ngIf="flightForm.get('destination')?.invalid && flightForm.get('destination')?.touched">
                    <span class="invalid-text">Please enter exactly 3 letters!</span>
                </div>
                <!-- errors for same letters-->
                <div *ngIf="flightForm.hasError('originDestinationSame')">
                    <span class="invalid-text">Origin and destination can't be the same!</span>
                </div>
                <div class="flight-box" [ngClass]="{'invalid-input': flightForm.get('destination')?.invalid && flightForm.get('destination')?.touched || flightForm.hasError('originDestinationSame')}">
                    <label>To</label>
                    <input formControlName="destination" placeholder="BCN" appUppercase>
                </div>
            </div>
        </div>

        <div class="low-form">
            <button type="submit" class="submit-btn" [disabled]="!flightForm.valid">Search Flight</button>
            <div *ngIf="message" class="alert">{{ message }}</div>
        </div>

    </form>
</section>