<section>

    <div>
        <h2>Life Is Short And The World Is Wide!</h2>

        <p>
            to get the best of your adventure you just need to leave and <br> go where you like. We are waiting for you!
        </p>
    </div>


    <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">

        <div class="field-radio">
            <div class="field-radio-container">
                <label class="radio">
                    <input type="radio" checked value="oneWay" formControlName="tripType" class="radio-btn"> One-way
                    </label>

                <label class="radio">
                    <input type="radio" value="multiStop" formControlName="tripType" class="radio-btn"> Multiple destinations
                    </label>
            </div>

            <small>
                Book International and Domestic Flights
            </small>
        </div>

        <div class="flight-container">
            <div class="flight-box">
                <label>From</label>
                <input formControlName="origin" placeholder="MZL">
            </div>

            <div class="flight-box">
                <label>To</label>
                <input formControlName="destination" placeholder="BCN">
            </div>
        </div>

        <div formArrayName="intermediaryDestinations" *ngIf="flightForm.get('tripType')?.value === 'multiStop'">
            <div *ngFor="let intermediaryDestination of getIntermediaryDestinations.controls; let i = index" [formGroupName]="i">
                <div>
                    <label>New Origin {{ i + 1 }}</label>
                    <input formControlName="newOrigin" [value]="flightForm.get('destination')?.value">
                </div>
                <div>
                    <label>New Destination {{ i + 1 }}</label>
                    <input formControlName="newDestination">
                </div>

                <button (click)="removeIntermediaryDestination(i)">Remove this stop</button>
            </div>
        </div>


        <button *ngIf="flightForm.get('tripType')?.value === 'multiStop'" (click)="addIntermediaryDestination()">Add Origin and Destination</button>


        <button type="submit" class="submit-btn">Search Flight</button>

    </form>
</section>