section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
}

h2 {
    font-size: 35px;
    font-weight: bolder;
}

p {
    font-weight: 600;
    color: #4b4b4b;
}

form {
    background: #fff;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
}

input.ng-invalid.ng-dirty {
    border-color: red;
}

.sub-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sub-input small {
    color: #666666;
}

.one-way {
    border: 1px solid #72d2fb;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 8px;
}

.flight-container {
    display: flex;
    height: 90px;
    margin-bottom: 20px;
    gap: 10px;
}

.invalid-text {
    color: #f35c5c;
}

.flight-box {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #dbdbdb;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 3px;
    padding: 3px 1rem;
}

.flight-box label {
    color: #494949;
}

.flight-box input {
    position: relative;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.flight-box input:focus {
    border: none;
    border-radius: 5px;
    outline: none;
}

.submit-btn {
    background: #000;
    padding: 10px 12px;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    animation-duration: 100ms;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #404040;
    transform: scale(1.1);
}

.invalid-input {
    border: 1px solid red;
    color: red;
}

.invalid-input input {
    color: #e10404;
}

.invalid-input label {
    color: #e10404;
}

.input-section {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.submit-btn:disabled {
    cursor: not-allowed;
    background: rgb(143, 142, 142);
}

.submit-btn:disabled:hover {
    transform: scale(1);
    cursor: not-allowed;
}

.add-btn {
    background: transparent;
    border: 1px solid #000;
    padding: 10px 12px;
    margin-right: 20px;
    color: #000;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
    animation-duration: 100ms;
    transition: 0.3s;
}

.add-btn:hover {
    background: #4b4b4b;
    padding: 10px 12px;
    color: #fff;
    background: #404040;
    transform: scale(1.1);
}

.remove-btn {
    background: #f35c5c;
    border: none;
    padding: 10px 12px;
    margin: 5px 0 40px;
    color: #fff;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
    animation-duration: 100ms;
    transition: 0.3s;
}

.remove-btn:hover {
    background: #e10404;
    transform: scale(1.1);
}