<nav>

    <div class="navbar">
        <div class="title" (click)="titleClick()">✈️ TRIP</div>


        <div class="dropdown" #dropdown>
            <button class="dropdown-button" (click)="toggleDropdown()">
            <img class="flag" [src]="selectedImg" alt="{{selectedOption}} icon" > 
            {{selectedOption}}
            </button>
            <div class="dropdown-menu" [class.show]="dropdownOpen">
                <button *ngFor="let option of options" (click)="selectOption(option)">
                    <img class="flag" [src]="option.image" alt="{{option.name}} icon" > {{option.name}}
                </button>
            </div>
        </div>
    </div>

</nav>